* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-size: 16px;
  background-color: #faf9f6;
  font-family: "Mukta", sans-serif;
  color: #454545;
}

button {
  color: #454545;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
